---
import Title from "../components/Title.astro";
import AnimatedTitle from "../components/AnimatedTitle.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/icon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>DIY</title>
	</head>
	<body>
		<svg viewBox="0 0 100 100">
			<AnimatedTitle text="Animated title" />
		</svg>
		<svg viewBox="0 0 100 100">
			<Title>Title</Title>
		</svg>
	</body>
</html>
